@import "palette";
@import "variables";

body {
  color: $color-primary-0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: $font-size-medium;
}

h1, h2 {
  color: $color-primary-4;
}

h3, h4 {
  color: $color-primary-3;
}

h5, h6 {
  color: $color-primary-0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;

  &:after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: 0;
    height: 0;
    visibility: hidden;
  }
}

.header,
.footer {
  flex: none;
}

.footer {
  height: auto;
  max-height: 25%;
  min-height: 5em;
  background-color: $color-primary-3;
  border-radius: $radius-small $radius-small 0 0;
  padding: 2em 0;
  margin-top: 1em;

  .footer-brand {
    width: 100%;
    float: right;
    text-align: center;
    font-size: $font-size-large;
    color: $color-primary-2;
  }
}

.navbar {
  background-color: $color-header-background;
  border-color: $color-primary-2;
  border-radius: 0 0 $radius-medium $radius-medium;

  .navbar-nav {
    li {
      a,
      &.active a {
        background-color: $color-header-background;
        color: $color-primary-2;

        &:hover,
        &:focus {
          background: $color-header-background;
        }

        &:hover {
          color: $color-primary-1;
        }
      }

      &.active {
        a {
          color: $color-primary-4;
        }
      }
    }
  }

  .navbar-brand {
    padding: 5px;

    img {
      max-height: 100%;
    }
  }
}

.block-separated {
  border-bottom: 2px solid $color-secondary-2-1;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &.inverse {
    border-color: $color-primary-1;
  }
}

.panel-default {
  border-color: $color-primary-2;
  border-radius: 0 $radius-small $radius-small $radius-small;
}

.table {
  color:$color-secondary-2-3;

  thead {
    tr {
      th {
        border-color: $color-secondary-2-0;
      }
    }
  }

  tbody {
    tr {
      td {
        border-color: $color-secondary-2-0;
      }
    }
  }

  .bet-up {
    &::before {
      color: $color-primary-2;
    }
  }
}

.label {
  &.label-default {
    color: $rgba-primary-1;
    background-color: $color-primary-2;
  }

  &.danger {
    background-color: $color-secondary-2-3;
  }
}

.badge {
  background-color: $color-secondary-1-3;
  color: $color-secondary-1-1;
  border-radius: $radius-xsmall;
}

a {
  color: $color-secondary-1-0;

  &:hover {
    color: $rgba-secondary-1-3;
  }
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  .form-control {
    border-color: $color-primary-2;

    &:focus {
      border-color: $color-primary-2;
      -webkit-box-shadow: inset 0 1px 1px $rgba-input-border-shadow,
      0 0 8px $rgba-input-shadow;
      box-shadow: inset 0 1px 1px $rgba-input-border-shadow,
      0 0 8px $rgba-input-shadow;
    }
  }
}
