@import "palette";

body {
  color: $color-primary-3;
  font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;

  &:after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: 0;
    height: 0;
    visibility: hidden;
  }
}

.header,
.footer {
  flex: none;
}

.footer {
  height: auto;
  max-height: 25%;
  min-height: 5em;
  background-color: $color-primary-3;
  border-radius: 10px 10px 0 0;
  padding: 2em 0;

  .footer-brand {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 2em;
    color: $color-primary-2;
  }
}

.navbar {
  background-color: $color-header-background;
  border-color: $color-primary-1;
  border-radius: 0 0 25px 25px;

  .navbar-nav {
    li {
      a,
      &.active a {
        background-color: $color-header-background;
        color: $color-primary-2;

        &:hover,
        &:focus {
          background: $color-header-background;
        }

        &:hover {
          color: $color-primary-1;
        }
      }

      &.active {
        a {
          color: $color-primary-4;
        }
      }
    }
  }

  .navbar-brand {
    padding: 5px;

    img {
      max-height: 100%;
    }
  }
}
