<section>
  <h2>List of bids</h2>
  <!-- filter sidebar -->
  <div class="navbar navbar-default visible-xs">
    <div class="container-fluid">
      <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
        <i class="fa fa-tasks"></i> Toggle Filters
      </button>
    </div>
  </div>
  <div class="row">
    <div id="filter-sidebar" class="col-xs-6 col-sm-2 visible-sm visible-md visible-lg collapse sliding-sidebar">
      <div class="filter-block">
        <h5>
          Query
        </h5>
        <div>
          <input ng-model="filter.query" type="text" class="form-control" placeholder="query">
        </div>
      </div>

      <div class="filter-block">
        <h5>
          Current rate
        </h5>
        <div class="collapse in">
          <div class="input-group col-xs-12">
            <input ng-model="filter.minBetPrice" type="number" step="0.01" placeholder="from" class="form-control input-group-item">
            <input ng-model="filter.maxBetPrice" type="number" step="0.01" placeholder="to" class="form-control input-group-item">
          </div>
        </div>
      </div>

      <div>
        <h5 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Type
        </h5>
        <div id="group-1" class="list-group collapse in">
          <div ng-repeat="option in filterConfig.typeOptions" class="list-group-item">
            <input type="radio" ng-model="filter.type" value="{{option}}">
            {{option}}
          </div>

        </div>
      </div>

      <div>
        <h5 data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Status
        </h5>
        <div id="group-2" class="list-group collapse in">
          <div class="list-group-item">
            <input type="checkbox" ng-model="filter.recent">
            recent
          </div>
          <div class="list-group-item">
            <input type="checkbox" ng-model="filter.progress">
            progress
          </div>
          <div class="list-group-item">
            <input type="checkbox" ng-model="filter.expiring">
            expiring
          </div>
        </div>
      </div>

      <button class="btn btn-default" ng-click="filterList()">Filter</button>
      <button class="btn btn-link btn-xs" ng-click="resetFilter()">reset</button>
    </div>
  <!-- filter sidebar -->
    <div class="col-md-10">
      <form class="bids" ng-controller="BidDeleteCtrl">
        <div class="col-xs-12 block-separated inverse">
          <a class="btn btn-sm btn-default pull-right" href="#/bid/new">New</a>
          <button class="btn btn-sm btn-default pull-right" ng-show="!deleteMode" ng-click="deleteModeOn()">Delete mode</button>
          <button class="btn btn-sm btn-default pull-right" ng-show="deleteMode" ng-click="delete()">Delete</button>
          <input type="reset" class="btn btn-sm btn-default pull-right" ng-show="deleteMode" ng-click="reset()">
        </div>
        <div class="col-md-6 col-xs-12 bid" ng-repeat="bid in filteredBids">
          <div class="col-sm-1" ng-show="deleteMode">
            <input type="checkbox" class="input-lg" ng-click="toggleCheckbox(bid.id)">
          </div>

          <div class="col-sm-10">
            <h2 class="truncate"><a href="#/bid/{{bid.id}}">{{bid.title}}</a>
            </h2>
          </div>
          <h5>
            <span class="badge">{{bid.type}}</span>
          </h5>
          <div class="col-xs-12 block-separated">
            <p>
              <button class="btn btn-default btn-bet" ng-click="bet(bid.price.step, bid.price.value, bid.id)">
                {{bid.price.value}}$
                <span class="bet-up glyphicon glyphicon-chevron-up"></span>
              </button>
            </p>
          </div>
          <br />
          <div class="col-md-6">
            <p>Time left: <span class="label label-default">{{bid.timeLeft.hours}}h {{bid.timeLeft.minutes}}min {{bid.timeLeft.seconds}}s</span></p>
            <p>{{bid.paymentType}}</p>
            <div>
              <h3>Seller <a href="/#">{{bid.seller.username}}</a></h3>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <p>
              <img class="img-thumbnail" ng-src="{{bid.imageUrl}}" alt="{{bid.title}}">
            </p>
          </div>
        </div>
      </form>
      <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
    </div>
  </div>
</section>
