<section>
  <h2>List of bids</h2>
  <!-- filter sidebar -->
  <div class="navbar navbar-default visible-xs">
    <div class="container-fluid">
      <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
        <i class="fa fa-tasks"></i> Toggle Filters
      </button>
    </div>
  </div>
  <div class="row">
    <div id="filter-sidebar" class="col-xs-6 col-sm-2 visible-sm visible-md visible-lg collapse sliding-sidebar">
      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Type
        </h4>
        <div id="group-1" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            Stocks
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            Shares
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span>  -->
            Bonds
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span>  -->
            Bills
          </a>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Status
        </h4>
        <div id="group-2" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span>  -->
            New (created in the last 24 hours)
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            Opened
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            Closed
          </a>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Start price
        </h4>
        <div id="group-3" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span>  -->
            < 10$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            10$ - 30$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            30$ - 100$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            > 100$
          </a>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-4">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Current rate
        </h4>
        <div id="group-4" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span>  -->
            < 10$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            10$ - 30$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            30$ - 100$
          </a>
          <a class="list-group-item" href="#">
            <!-- <span class="badge">3</span> -->
            > 100$
          </a>
        </div>
      </div>
    </div>
  <!-- filter sidebar -->

    <div class="col-md-10 bids">
      <div class="col-xs-12 block-separated inverse">
        <a class="btn btn-sm btn-default pull-right" href="#/bid/new">New</a>
      </div>
      <div class="col-md-6 col-xs-12 bid" ng-repeat="bid in bids">
        <div class="col-sm-10">
          <h2 class="truncate"><a href="#/bid/{{bid.id}}">{{bid.title}}</a>
          </h2>
        </div>
        <h5>
          <span class="badge">{{bid.type}}</span>
        </h5>
        <div class="col-xs-12 block-separated">
          <p>
            <button class="btn btn-default btn-bet" ng-click="bet(bid.price.step, bid.price.value, bid.id, 333)">
              {{bid.price.value}}$
              <span class="bet-up glyphicon glyphicon-chevron-up"></span>
            </button>
          </p>
        </div>
        <br />
        <div class="col-md-6">
          <p>Time left: <span class="label label-default">{{bid.timeLeft.hours}}h {{bid.timeLeft.minutes}}min {{bid.timeLeft.seconds}}s</span></p>
          <p>{{bid.paymentType}}</p>
          <div>
            <h3>Seller <a href="/#">{{bid.seller.username}}</a></h3>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p>
            <img class="img-thumbnail" src="{{bid.imageUrl}}" alt="{{bid.title}}">
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
