<div class="col-md-6 col-md-offset-3">
  <form ng-submit="submit()" name="loginForm" novalidate>
    <div class="form-group" ng-class="{ 'has-error': (loginForm.$submitted || loginForm.username.$touched) && loginForm.username.$invalid }">
      <label for="login">Login</label>
      <input name="username" type="text" class="form-control input-lg" id="login" placeholder="login" required
             ng-model="username"
             ng-minlength="6"
             ng-maxlength="100">
    </div>
    <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.$submitted || loginForm.username.$touched">
      <div ng-messages-include="views/helpers/form/messages.html"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': (loginForm.$submitted || loginForm.password.$touched) && loginForm.password.$invalid }">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control input-lg" id="password" placeholder="password" required
             ng-model="password"
             ng-minlength="6"
             ng-maxlength="50">
    </div>
    <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted || loginForm.password.$touched">
      <div ng-messages-include="views/helpers/form/messages.html"></div>
    </div>
    <button type="submit" class="btn btn-default btn-lg">Sign in</button>
  </form>
</div>
