<div class="col-xs-12 col-sm-8 col-sm-offset-2 bid-block">
  <form class="form-horizontal" name="bidForm" novalidate enctype="multipart/form-data">
    <h2>New Bid</h2>
    <div class="col-xs-12 block-separated">
      <br />
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.title.$touched) && bidForm.title.$invalid }">
        <label for="bidName" class="control-label col-sm-2">Title</label>
        <div class="col-sm-10">
          <input name="title" id="bidName" type="text" class="form-control input-lg" required
                 ng-model="newBid.title"
                 ng-minlength="10"
                 ng-maxlength="70" >
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.title.$error" ng-show="bidForm.$submitted || bidForm.title.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
    </div>
    <div class="col-xs-12 block-separated">
      <h3>Base information</h3>
      <br />
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.description.$touched) && bidForm.description.$invalid }">
        <label for="bidDescription" class="control-label col-sm-4">Description</label>
        <div class="col-sm-6">
          <textarea name="description" id="bidDescription" rows="5" class="form-control" required
                    ng-model="newBid.description"
                    ng-minlength="20"
                    ng-maxlength="500"></textarea>
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.description.$error" ng-show="bidForm.$submitted || bidForm.description.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.type.$touched) && bidForm.type.$invalid }">
        <label for="bidType" class="control-label col-sm-4">Type</label>
        <div class="col-sm-6">
          <select name="type" id="bidType" class="form-control" required
                  ng-model="newBid.type">
            <option>share</option>
            <option>bond</option>
            <option>bill</option>
          </select>
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.type.$error" ng-show="bidForm.$submitted || bidForm.type.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.quantity.$touched) && bidForm.quantity.$invalid }">
        <label for="bidQuantity" class="control-label col-sm-4">Quantity</label>
        <div class="col-sm-6">
          <input name="quantity" id="bidQuantity" type="number" min="0" class="form-control" required
                 ng-model="newBid.quantity">
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.quantity.$error" ng-show="bidForm.$submitted || bidForm.quantity.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.startPrice.$touched) && bidForm.startPrice.$invalid }">
        <label for="bidStartPrice" class="control-label col-sm-4">Start price</label>
        <div class="col-sm-6">
          <input name="startPrice" id="bidStartPrice" type="number" min="0" step="0.01" class="form-control" required
                 ng-model="newBid.startPrice">
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.startPrice.$error" ng-show="bidForm.$submitted || bidForm.startPrice.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.expirationDate.$touched) && bidForm.expirationDate.$invalid }">
        <label for="bidExpirationDate" class="control-label col-sm-4">Expiration date</label>
        <div class="col-sm-6">
          Selected Date: {{ newBid.expirationDate | date:'MMM d, y h:mm a' }}
          <datetimepicker name="expirationDate" data-ng-model="newBid.expirationDate"
                          data-datetimepicker-config="{ minuteStep: 1 }"
                          data-before-render="startDateBeforeRender($dates)"
                          ng-required="true"></datetimepicker>
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.expirationDate.$error" ng-show="bidForm.$submitted || bidForm.expirationDate.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
    </div>

    <div class="col-xs-12 block-separated">
      <h3>Secondary information</h3>
      <br />
      <div class="form-group">
        <label for="bidComment" class="control-label col-sm-4">Comment</label>
        <div class="col-sm-6">
          <textarea id="bidComment" rows="5" class="form-control" ng-model="newBid.comment"></textarea>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (bidForm.$submitted || bidForm.paymentType.$touched) && bidForm.paymentType.$invalid }">
        <label for="bidPaymentType" class="control-label col-sm-4">Payment type</label>
        <div class="col-sm-6">
          <select name="paymentType" id="bidPaymentType" class="form-control" required
                  ng-model="newBid.paymentType">
            <option>paypal</option>
          </select>
        </div>
      </div>
      <div class="help-block" ng-messages="bidForm.paymentType.$error" ng-show="bidForm.$submitted || bidForm.paymentType.$touched" role="alert">
        <div ng-messages-include="views/helpers/form/messages.html"></div>
      </div>
      <div class="form-group">
        <label for="bidImage" class="control-label col-sm-4">Upload image</label>
        <div class="col-sm-6">
          <input id="bidImage" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" class="form-control" accept="image/jpeg,image/png,image/gif">
          <p>Preview:</p>
          <img src="previewUrl">
        </div>
      </div>
    </div>

    <div class="col-xs-12 block-separated">
      <button type="submit" class="btn btn-lg btn-default" ng-click="submit()" ng-show="newBid.imageName">Submit</button>
    </div>

  </form>
</div>
