<div class="col-xs-12 col-sm-offset-1 col-sm-10 bid-block">
  <h2>{{bidDetailed.name}}
    <button class="btn btn-default btn-bet">
      {{bidDetailed.currentBet}}$
      <span class="bet-up glyphicon glyphicon-chevron-up"></span>
    </button>
    <a href="/#">
      <span class="badge">{{bidDetailed.status}}</span></a>
    <a href="/#">
      <span class="badge">{{bidDetailed.securityType}}</span></a>
  </h2>

  <div class="col-xs-12 block-separated">
    <div class="col-sm-2">
      Description
    </div>
    <div class="panel panel-default col-sm-10">
      <p class="panel-body">{{bidDetailed.description}}</p>
    </div>
  </div>

  <div class="col-xs-12 block-separated">
    <div class="col-xs-12 col-sm-4">
      <h3>Base information</h3>
      <p>Start price
        <strong>{{bidDetailed.startPrice}}$</strong>
      </p>
      <p>Start:
        <span class="label label-default">{{bidDetailed.startDate}}</span>
      </p>
      <p>End:
        <span class="label label-default">{{bidDetailed.endDate}}</span>
      </p>
      <p>Pay by: {{bidDetailed.paymentType}}</p>
    </div>

    <div class="col-xs-12 col-sm-8">
      <h3>Seller</h3>
      <h4>
        <a href="/#">{{bidDetailed.seller.fullname}}</a>
        <p class="label label-default">{{bidDetailed.seller.rate}}</p>
      </h4>
      <div class="col-sm-3">
        Seller's comment
      </div>
      <div class="panel panel-default col-sm-9">
        <p class="panel-body">{{bidDetailed.comment}}</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 block-separated">
    <h3>Possible investors</h3>
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th>Bet date</th>
            <th>Bet date</th>
            <th>Name</th>
            <th>Bet size</th>
          </tr>
        </thead>
        <tr ng-repeat="investor in bidDetailed.investors">
          <td><span class="bet-up glyphicon glyphicon-chevron-up"></span></td>
          <td>{{investor.betDate}}</td>
          <td>{{investor.name}}</td>
          <td>{{investor.bet}}$</td>
        </tr>
      </table>
    </div>
  </div>
</div>
