<section>
  <div class="bid-block">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>{{bidDetailed.name}} <span class="badge">{{bidDetailed.status}}</span> <span class="badge security-type">{{bidDetailed.securityType}}</span></h2>
      <p>Start price <strong>{{bidDetailed.startPrice}}$</strong></p>
      <p>Start: <span class="label label-default">{{bidDetailed.startDate}}</span></p>
      <p>End: <span class="label label-primary">{{bidDetailed.endDate}}</span></p>
      <div class="panel panel-default">
        <p class="panel-body">{{bidDetailed.description}}</p>
        <p class="panel-body">{{bidDetailed.comment}}</p>
      </div>
      <p>{{bidDetailed.paymentType}}</p>
      <hr/>
      <div>
        <h3>Seller {{bidDetailed.seller.fullname}} {{bidDetailed.seller.rate}}</h3>
      </div>
      <hr/>
      <div>
        <h3>Possible investors</h3>
      </div>
    </div>
  </div>
</section>
